<%- include('./partials/head')  %>
<%- include('./partials/header')  %>
<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Ingresar</h2>
        </div>
        <div class="datosUsuarios2">
            <div class="datosUsuarios">
            <form  action="/users/login" method="POST">
                <div>
                    <i class="fa-regular fa-envelope"></i><input type="email" placeholder="Email" name="email" value="">
                </div>
                <div>
                    <i class="fa-solid fa-lock"></i><input type="password" placeholder="Contraseña" name="contraseña" value="">
                </div>
                <div>
                    <label for="Recuerdame">Recuerdame</label>
                    <input type="checkbox" name="rememberMe">
                </div>
                
                <button class="tengo_cuenta" type="submit">Ingresar</a></button>
            </form>
                <button class="tengo_cuenta" type="submit"><a  href="/users/register">No tengo cuenta</a></button>
            </div>
        </div>
                  
<%- include('./partials/footer')  %>