<%- include('./partials/head.ejs') %>
<%- include('./partials/header.ejs') %>

<!-- Novedades -->
<div class="container products-wrapper">
    <div class="row">
        <div class="col-12">
            <h2 class="products-title">Registrate</h2>
        </div>
        <!-- Show the "ultimos" products -->
        <div class=" datosUsuarios2">
            <div class=" datosUsuarios">
            <form  action="/users/register" method="POST">
                <div>
                    <i class="fa-regular fa-envelope"></i><input type="email" name="email" placeholder="Email" value="">
                </div>
                <div>
                    <i class="fas fa-user"></i><input type="text" name="nombre" placeholder='Nombre'value="">
                </div>
                <div>
                    <i class="fa-solid fa-lock"></i><input type="password" name="password" placeholder="Contraseña" value="">
                </div>
                <div>
                    <i class="fa-solid fa-passport"></i><input type="number" name="dni" placeholder="Nro de documento" value="">
                </div>
                <div>
                    <i class="fa-solid fa-image"></i><input type="text" placeholder="URL Foto de perfil" name="foto_de_perfil" value="">
                </div>
                <div>
                    <i class="fa-solid fa-calendar-days"></i><input type="date" name="fecha_de_nacimiento" value="">
                </div>
                <br>
                <button class="tengo_cuenta" type="submit">Crear cuenta</button>
                <br>
                </form>
            <% if(locals.errors){  %> 
                        <p class= “error”> <%= errors.message %> </p>
            <% } %>  
                <button class="tengo_cuenta" type="submit"><a href="/users/login">Ya tengo cuenta</a></button>
            </div>
        </div>
<%- include('./partials/footer.ejs') %>